/*------------BarraNav------------*/
.nav-item {
    margin-inline: 76px;
    border-radius: 50px;
}

.nav-item:hover {
    background-color: #D9D9D9;
    border-radius: 50px;
}

.colory {
    color: #322203 !important;
}

.navsty {
    background-color: #EBEBEB !important;
}

.dropdown-item {
    margin-top: 0px !important;
    border-radius: 10px;
}

.dropdown-item:hover {
    background-color: #D9D9D9;
}

body {
    background: url(../img/dog-g37572a74c_1280.jpg) no-repeat 50% 50%;
    background-position: center top;
    background-attachment: fixed;
    background-size: cover;
}

.boxxx {
    background: rgba(0, 0, 0, .4);
    margin: auto;
    margin-top: 4;
    padding: 20;
    color: white;
    text-align: center;
    border-radius: 15px;
    background-color: rgba(0, 0, 0, .4);
}

.imgcon {
    width: 100%;
    max-width: 150px;

}

@media(max-width: 1060px) {
    .nav-item {
        margin-inline: 40px;
    }

    .nav-item:hover {
        background-color: #D9D9D9;
        border-radius: 80px;
    }

    .dropdown-menu.show {
        margin-left: 6px;
    }
}

@media(max-width: 991px) {
    .nav-item {
        margin-inline: 0px !important;
    }

    .nav-item:hover {
        background-color: #D9D9D9;
        border-radius: 0px;
    }

    .nav-link {
        margin-left: 20px;
    }

    .dropdown-item {
        margin-top: 0px !important;
        border-radius: 0px;
        margin: 0% !important;
        justify-content: center;
    }

    .nav-item.dropdown {
        background-color: #EBEBEB;
        border-radius: 0px;
    }
}