/*------------------------GeneralCss------------------------ */
.colory {
    color: #322203
}

.margen-txt {
    margin-top: 200px !important;
}

/*------------BarraNav------------*/
.logo {
    height: 100%;
    width: 120px;
}

.no-margin {
    margin: 0% !important;
}

.nav-item {
    margin-inline: 56px;
    border-radius: 50px;

}

.nav-link {
    color: #322203 !important;
    font-size: 16px;
}

.nav-item:hover {
    background-color: #D9D9D9;
    border-radius: 50px;
}

.navsty {
    background-color: #EBEBEB !important;
}

.dropdown-item {
    margin-top: 0px !important;
    border-radius: 10px;
}

.dropdown-item:hover {
    background-color: #D9D9D9;
}

/* Body */
.imgy {
    width: 100%;
    height: 110vh;

}

/*--------------------[ Contactos ]--------------------*/
.mgn-top {
    margin-top: 40px !important;
}

.mgn-top-user {
    margin-top: 80px !important;
}

body {
    background-position: center top;
    background-attachment: fixed;
    background-size: cover;
    background: #ddd6f3 !important;
    background: -webkit-linear-gradient(to right, #faaca8, #ddd6f3) !important;
    background: linear-gradient(to right, #faaca8, #ddd6f3) !important;
}

/* tarjeta-contato */
.bor-img-con {
    border-radius: 25px;
}

/* texto tarjeta*/
.dim-tittle-con {
    color: white;
    margin: 50px;
}

.dim-txt-con {
    color: white;
    margin-top: 50px;

}
.con-fx:hover {
    border: 5px solid rgba(255, 255, 255, 0.733);
    transition: .1s ease;
    opacity: .90;
}

/*----------------------- Catalogo -------------------------*/
.glass {
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.30);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(30px);
}

/* Catalogo Nav*/
.cat-nav {
    position: sticky;
    margin-top: 40px;
    height: 250px;
}

/* cartas */

.dim-carta {
    padding: 1.5rem;
}

.fon-card{
    background: #EBEBEB;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(30px);
    border-radius: 20px;
}

.borde-img {
    border-top-right-radius: px;
    border-top-left-radius: 10px;
}

/*-----------------------------------------------------*/
/*--------------------[ Contactos ]--------------------*/
.mgn-top{
    margin-top: 90px!important;
}
.mgn-top-welcome{
    margin-top: 120px;
}
body {
    background-position: center top;
    background-attachment: fixed;
    background-size: cover;
    background: #ddd6f3 !important;
    background: -webkit-linear-gradient(to right, #faaca8, #ddd6f3) !important;
    background: linear-gradient(to right, #faaca8, #ddd6f3) !important;
}

/* tarjeta-contacto */
.tam-con{
    padding: 1.5rem;
    align-items: center;
    
}
.bor-con{
    border-radius: 25px;
}

/* texto tarjeta*/
.dim-tittle-con {
    color: #7863bd;
    margin: 50px;
}

.dim-txt-con {
    color: #7863bd;
    margin-top: 20px;

}
.cuad-txt{
    margin: 20px;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.30);
    backdrop-filter: blur(30px);
    
}
.pd-col{
    padding: 0rem;
}
.shadow-img{
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
}

/*--------------------------- CarritoCss ---------------------------*/
/*---------------------------[ Diseños ]---------------------------*/

.row-design {
    margin-top: 80px;
    padding: 20px;
    border-radius: 20px;
    background-color: #EBEBEB;
}

.item-design {
    color: #111;
    background-color: #fdcae1;
    border-radius: 20px;
}

.trash-design {
    margin: 10px;
    color: #111;
    background-color: #fdcae1;
    border-radius: 50px;
    padding: 9px;
    font-size: 20px;
}

.total-design {
    color: #111;
    padding: 9px;
    border-radius: 10px;
    background-color: #fdcae1;
}

.promo-design {
    margin-top: 0px !important;
    padding: 15px !important;
    border-radius: 10px;
    background-color: #fdcae1;

}

/*-------------------- [ Textos y imagenes ] -----------*/
.center-txt {
    margin-top: 40px;
    text-align: center;
    padding: 3px;
}

.namy {
    justify-items: center;
}

.img-fluid {
    border-radius: 20px;
}

/*-------------------- [Botones ] --------------------*/
.clean-cart {
    color: #111;
    margin-top: 22px;
    width: 70%;
    text-align: center;
    border-radius: 20px;
    background-color: #fdcae1;
}

.buy-btn {
    color: #111;
    margin-top: 18px;
    width: 100%;
    text-align: center;
    border-radius: 20px;
    background-color: #ff6961;
}

.btns-style {
    cursor: pointer;
    border: none;
    padding: 20px;
    background-color: transparent;
}

.promo-code {
    padding-right: 20px;
}

.promo-btn {
    margin-top: 9px;
    margin-bottom: 9px;
    cursor: pointer;
    border: none;
    padding-inline: 30px;
    border-radius: 10px;

}

/*--------------------[CuentaCss]--------------------*/
.form-control{
    padding-inline: 50px;
    width: 100%;
}
.margen-txt{
    width: 100%;
    height: 400px;
}
.form-design{
    text-align: center;
}

.content-design {
    padding: 40px;
    border-radius: 20px;
    background-color: #EBEBEB;
}
.mod-btn {
    color: #111;
    margin-top: 20px;
    margin-left: 35px;
    width: 80%;
    text-align: center;
    border-radius: 20px;
    background: #ddd6f3 !important;
    background: -webkit-linear-gradient(to right, #faaca8, #ddd6f3) !important;
    background: linear-gradient(to right, #faaca8, #ddd6f3) !important;


}
.mod-btn-2{
    color: #111;
    margin-top: 20px;
    margin-left: 70px;
    width: 80%;
    text-align: center;
    border-radius: 20px;
    background: #ddd6f3 !important;
    background: -webkit-linear-gradient(to right, #faaca8, #ddd6f3) !important;
    background: linear-gradient(to right, #faaca8, #ddd6f3) !important;
}

.btns-mod {
    cursor: pointer;
    border: none;
    padding: 10px;
    background-color: transparent;

}

/* ResponsiveMedia */
/*-------------------*/
/* NavBar */
@media(max-width: 1166px) {
    .nav-item {
        margin-inline: 40px;
    }

    .nav-item:hover {
        background-color: #D9D9D9;
        border-radius: 80px;
    }

    .dropdown-menu.show {
        margin-left: 6px;
    }
}

@media(max-width: 991px) {
    .nav-item {
        margin-inline: 0px !important;
    }

    .nav-item:hover {
        background-color: #D9D9D9;
        border-radius: 0px;
    }

    .nav-link {
        margin-left: 20px;
    }

    .dropdown-item {
        margin-top: 0px !important;
        border-radius: 0px;
        margin: 0% !important;
        justify-content: center;
    }

    .nav-item.dropdown {
        background-color: #EBEBEB;
        border-radius: 0px;
    }

    .mod-btn {
        color: #111;
        margin-top: 20px;
        margin-left: 20px;
        width: 80%;
    }
    .mod-btn-2{
        color: #111;
        margin-top: 20px;
        margin-left: 45px;
    }
}
/* Carrito Media */
@media(max-width:768px) {
    .clean-cart {
        margin-top: 30px;
        margin-bottom: 30px;
        width: 100%;
        text-align: center;
    }

    .promo-code {
        padding-right: 12px !important;
    }
    .mod-btn {
        color: #111;
        margin-top: 20px;
        margin-bottom: 10px;
        margin-left: 45px;
        width: 80%;
    }
    .mod-btn-2{
        color: #111;
        margin-top: 20px;
        margin-left: 50px;
    }
}




/*---------------*/
/*    Pruebas    */
/*---------------*/

